/* Estilo cor do menu */

.nav-logo {
    padding-top: 26px;
    padding-left: 200px;
}

.headbar {
    background: #184B89;
    width: 100%;
    height: 73px;
}

.header{    
    padding-top: 40px;
    padding-bottom: 40px;
}

a {
    color: #184B89;
    font-weight: bold;
}

.btn-primary-first {
    font-family: Khand !important;
    font-weight: bold !important;
    color: #fff;
    background-color: #184B89 !important;
    border-color: #184B89 !important;
}

.btn-primary {
    font-family: Khand !important;
    font-weight: bold !important;
    color: #184B89 !important;
    background-color: #00FFBA !important;
    border-color: #00FFBA !important;
}

.date-hora {
    padding-bottom: 10px;
    color: #184B89;
    font-weight: bold;
}

.titulo-post {    
    text-align: justify;    
    width: 700px;
    background: #00FFBA;
    padding-bottom: 53px;
    text-align: center;
}

.titulo {    
    font-family: Khand !important;
    font-weight: bold !important;
    text-align: justify;
    font-size: 32px;
    color: #005CA9;
    align-content: center;
    text-align: center;
    position: relative;
}

.img-post>img {
    float: left;
    max-width: 265px;
    max-height: 174px;
}

.corpo-post>p {
    font-family: 'Times New Roman', Times, serif, Roboto;
    padding-top: 20px;
    text-align: justify;
    height: 115px;
    max-width: 700px;
}

.leia-mais {
    padding-top: 60px;
    padding-bottom: 20px;
    color: #005CA9
}

.side-bar-right {
    padding-top: 80px;
    margin-left: 40px;
    padding-top: 40px;
}