/* Estilo cor do menu */

.nav-logo {
    padding-top: 26px;
    padding-left: 200px;
}

.headbar {
    background: #184B89;
    height: 73px;
}

.slide {
    padding-top: 40px;
    padding-bottom: 40px;
}

.leia, .a {
    font-family: Khand !important;
    font-weight: bold !important;
    font-weight: bold;
    color: #184B89;
}

.btn-primary-first {
    font-family: Khand !important;
    font-weight: bold !important;
    color: #fff;
    background-color: #184B89 !important;
    border-color: #184B89 !important;
}

.btn-primary {
    font-family: Khand !important;
    font-weight: bold !important;
    color: #184B89 !important;
    background-color: #00FFBA !important;
    border-color: #00FFBA !important;
}

.date-hora {
    padding-bottom: 10px;
    color: #184B89;
    font-weight: bold;
}

.titulo-post {
    font-family: Khand !important;
    font-weight: bold !important;
    text-align: justify;    
    background: #00FFBA;
    height: 149.48px;
    text-align: justify;
    width: 100%;
}

.titulo {
    font-family: Khand !important;
    font-weight: bold !important;
    text-align: justify;
    font-size: 10px;
    color: #005CA9;
    align-content: center;
    text-align: center;
    
}

.img-post>img {
    float: left;
    max-width: 265px;
    max-height: 174px;
}

.corpo-post>p {
    font-family: 'Times New Roman', Times, serif, Roboto;
    padding-top: 20px;
    text-align: justify;    
}

.leia-mais {
    color: #184B89;
    font-weight: bold;
    padding-top: 40px;
    padding-bottom: 0px;
}

h1 {      
    font-family: Khand !important;
    font-weight: bold !important;
}


.titulo-form-lead {
    font-family: Khand;
    font-weight: bold;
    color: #005CA9;
    padding-top: 20px;
    padding-bottom: 0px;
    align-content: center;    
    font-size: 25px;
    
}


